.cartButton {
  position: relative;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8rem 2.2rem;
  border-radius: 15rem;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0.8rem;
}

.cartButton:hover {
  background: var(--pale-orange);
}

.cartIcon {
  width: 100%;
}

.cartLabel {
  position: absolute;
  top: 5%;
  right: 28%;
  width: 2rem;
  height: 1.6rem;
  font-weight: 600;
  border-radius: 3rem;
  text-align: center;
  background: var(--orange);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: inherit;
}

@media screen and (min-width: 768px) {
  .cartButton {
    padding: 0.8rem 3.6rem;
    margin-right: 1.2rem;
  }
}
