.cartButton {
  position: relative;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  border-radius: 15rem;
  display: flex;
  align-items: center;
  margin-right: 3.6rem;
}

.cartButton:hover {
  background: var(--pale-orange);
}

.cartIcon {
  width: 100%;
}

.cartLabel {
  position: absolute;
  top: 5%;
  right: 15%;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  text-align: center;
  background: var(--orange);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: inherit;
}
