.productGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 0 3.2rem; */
  gap: 3rem;
}

.productThumbnailsWrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.productMain,
.productThumbnailsWrapper {
  width: 100%;
  max-width: 40rem;
}

.productMain img,
.productThumbnail img {
  border-radius: 8px;
  overflow: hidden;
}

.productThumbnail.selected {
  border: 3px solid var(--orange);
  background-color: var(--pale-orange);
}

@media screen and (min-width: 768px) {
  .productGallery {
    flex: 1 1 50%;
    width: 50%;
  }
}
