.productWrapper {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-block: 6rem;
  gap: 4rem 0;
  width: 90%;
  margin-inline: auto;
}

@media screen and (min-width: 768px) {
  .productWrapper {
    flex-direction: row;
    gap: 0 3.6rem;
  }
}

@media screen and (min-width: 1200px) {
  .productWrapper {
    width: 100%;
  }
}
