.navBar {
  display: none;
}

@media screen and (min-width: 768px) {
  .navBar {
    /* border: 1px solid black; */
    display: block;
    margin-left: 2.4rem;
    margin-right: auto;
  }
  .navItem {
    display: block;
  }

  .navItemLink {
    /* border: 1px solid red; */
    display: block;
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: 1.6rem;
    background: #fff;
    color: var(--dark-grayish-blue);
    font-weight: 500;
  }

  .navBarList {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    list-style: none;
  }

  .navItemLink:hover {
    background: var(--pale-orange);
    color: var(--very-vark-blue);
  }

  .navItemLink:active {
    background: var(--orange);
    color: var(--white);
  }
}
