.navItem {
  padding: 2.4rem 0 4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #888;
}

.navItem a {
  color: inherit;
  text-decoration: none;
}

.navItem a:hover,
.navItem a:focus {
  color: #444;
}
