.nav {
  margin-right: auto;
  /* align-self: stretch; */
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navItem {
  position: relative;
  font-size: 1.4rem;
  font-weight: 500;
  color: #666;
  padding-block: 2rem 3rem;
  cursor: pointer;
}

.navItem > a {
  text-decoration: none;
  color: inherit;
}

.navActive {
  display: none;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgb(255, 102, 47);
  transition: display 250ms ease-in;
}

.navItem:hover .navActive {
  display: block;
}
