.buttonComponent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  padding: 1.4rem;
  border: none;
  border-radius: 0.8rem;
  background: var(--orange);
  font-family: var(--font-primary);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
}

.buttonComponent img {
  height: 1.4rem;
  color: var(--pale-orange);
}

@media screen and (min-width: 768px) {
  .buttonComponent {
    padding: 1.4rem 2.4rem;
  }
}

/* @media screen and (min-width: 1200px) {
  .buttonComponent {
    padding: 1.4rem 3.6rem;
  }
} */
