.button {
  width: 100%;
  /* height: 3rem; */
  background: rgb(255, 102, 47);
  border: none;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
